{% extends 'coach_rdv/base.html' %}
{% block content %}


<!DOCTYPE html>
{% load static %}
<html lang="fr"></html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'coach_rdv/styles1.css' %}" />
</head>
<body>
    <br><br><br><br><br><br><br>
  <h1>Connexion</h1>
  {% for messages in messages%}
  {{message}}
  {% endfor %}
      {% comment %} <form action="{% url 'login' %}" method="post"> {% endcomment %}
  <form  method="post" action="registre/">
    {% csrf_token %}
    <div>
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" placeholder="entrez votre nom">
    </div>
    <br>
    <div>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" placeholder="entrez votre mot de passe">
    </div>
    <br>
    <input type="submit" value="Connexion">
  </form>
</body>
</html>
{% endblock %}